$primary-color: #cd2c4e;
$secondary-color: #242424;
$text-color: #fff;

@media (min-width: 600px) {
  .wrapper-about-us {
    .wrapper-header {
      height: 70px;
    }
    .profile {
      .card {
        height: 300px;
      }
      .card-right {
        #card-content {
          width: 280px;
          height: 280px;
          gap: 1rem;

          img {
            width: 120px;
            height: 120px;
          }

          .desc {
            .desc-title {
              gap: 0.25rem;
            }
          }
        }
      }
      .card-left {
        #card-content {
          width: 280px;
          height: 280px;
          gap: 1rem;

          img {
            width: 120px;
            height: 120px;
          }

          .desc {
            .desc-title {
              gap: 0.25rem;
            }
          }
        }
      }
    }
  }

  .wrapper-faq {
    margin-block: 3rem;

    .wrapper-header {
      height: 70px;
    }

    .main-faq {
      width: 100%;
      max-width: 640px;
      margin: 20px;

      .faq {
        width: 100%;
      }
    }
  }
  .top-bar__container {
    width: 80% !important;
  }

  .home-content-body {
    width: 80%;
    margin: 0 auto;
  }

  .nav-menu {
    width: 90%;
    left: 5%;
    padding: 10px 70px;
  }

  .bottom-content-container {
    display: flex;
    text-align: start !important;

    .bottom-content-2 {
      h2 {
        width: 100% !important;
        margin: 0 0 0 20px !important;
      }
    }

    .bottom-content-3 {
      h2 {
        margin: 0 0 0 20px !important;
      }
    }
  }
}

@media (min-width: 1000px) {
  .top-content {
    .top-content-wrapper {
      flex-direction: row !important;
      gap: 4rem;
      margin: 0 auto;
      width: 75%;
      max-width: 1200px;

      .top-content-wrapp-left {
        flex: 1;
      }

      .top-content-wrapp-right {
        flex: 1;
      }
    }
  }

  .donorin-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  }

  #profile-form {
    flex-direction: row !important;
    gap: 3rem;

    .profile-form-input,
    .profile-form-choose {
      flex: 1;
    }
  }

  .history-container {
    display: flex;
    gap: 20px;
    .penerima-history,
    .pendonor-history {
      flex-basis: 50%;
    }
  }

  .wrapper-about-us {
    .wrapper-header {
      height: 80px;
    }
    .profile {
      .card {
        height: 400px;
      }
      .card-right {
        #card-content {
          width: 360px;
          height: 360px;
          top: 20px;

          img {
            width: 160px;
            height: 160px;
          }
          .desc {
            .desc-sosmed {
              display: flex;
              gap: 0.25rem;
              align-items: center;
              font-size: 2rem;
              color: white;

              a {
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;

                i {
                  width: 100%;
                  text-align: center;
                }
              }
            }

            .desc-title {
              h3 {
                font-size: 1.4rem;
              }
              p {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
      .card-left {
        #card-content {
          width: 360px;
          height: 360px;
          top: 20px;

          img {
            width: 160px;
            height: 160px;
          }
          .desc {
            .desc-sosmed {
              display: flex;
              gap: 0.25rem;
              align-items: center;
              font-size: 2rem;
              color: white;

              a {
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;

                i {
                  width: 100%;
                  text-align: center;
                }
              }
            }

            .desc-title {
              h3 {
                font-size: 1.4rem;
              }
              p {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

  .wrapper-faq {
    margin-block: 5rem;

    .wrapper-header {
      height: 70px;
    }
    .main-faq {
      width: 100%;
      max-width: 1200px;
      margin-block: 4rem;
      padding: 0 10rem;

      .faq {
        width: 100%;
      }
    }
  }
  .home-content-body {
    width: 60%;
    margin: 0 auto;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .nav-menu {
    position: fixed;
    height: 320px;
    width: 100px;
    left: 0;
    top: 35%;
    padding: 0;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.7);
    border-radius: 0 10px 10px 0;

    ul {
      display: grid;
      margin: 0;
      align-items: center;

      li {
        display: flex;
        width: 100px;
        height: 80px;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease-in-out;

        a {
          color: $text-color;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      li:hover {
        background-color: $text-color;
        border-radius: 0 10px 10px 0;

        a {
          color: $primary-color;
          transition: 0.2s ease-in-out;
        }
        a:hover {
          scale: 1.2;
        }
      }
    }

    .nav-active {
      border: 3px solid #fff;
      border-radius: 0 10px 10px 0;
    }
  }

  .donorin-list {
    max-width: 1200px;
    width: 75% !important;
  }

  .profile-container {
    max-width: 1200px;
    width: 75% !important;

    .profile-info {
      .save-button {
        margin: 0;
      }
    }
  }

  .register-wrapp {
    display: flex;
    overflow: hidden;
    height: 100% !important;
    width: 100%;
    // margin: 0px 150px 20px auto;
    // background-color: orange;

    img {
      display: block !important;
      height: 120%;
      width: auto;
      position: absolute;
      top: 50px;
      left: 0;
      z-index: -9;
    }

    .login-form-container {
      width: 50%;
      position: relative;
      top: 50%;
      right: 10%;
      transform: translate(50%, -50%) !important;
      margin-bottom: 100px;
    }
  }

  .login-wrapp {
    height: 100%;
    width: 35%;
    margin: 0 20% 0 auto !important;

    img {
      display: block;
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -99;
    }
  }

  footer {
    padding-bottom: 20px;
  }
}
